@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------------------------------- Laptops and Desktops ------------------------- */

@media (min-width: 1200px){

  .max-width{
    max-width: 1800px;
    margin: auto;
}

section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 5%;
  font-family: 'Ubuntu', sans-serif;
}

.fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.fill1 {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.fill1 {
  position: relative;
  margin-top: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.form {
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 5px;
}


/* .inputs{
    display: flex;
    flex-direction: column;
} */

/* Matrix Styles */
.matrix {
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;
}

.matrix td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

.matrix tr:nth-child(even) {
  background-color: #f2f2f2;
}

.matrix tr:hover {
  background-color: #e6e6e6;
}


}

/* ----------------------------------------- Big Tabs ------------------------------------------ */

@media (max-width: 1200px) and (min-width: 768px){

  
.max-width{
    max-width: 1024px;
    padding: 0 40px;
    margin: auto;
}
  
section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
}
  
.fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
  
.fill1 {
    position: relative;
    margin-left: 25%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
}

.form1{
  position: relative;
  margin-left: -20%;
  margin-top: 30%;
  margin-bottom: 20%;
}

.figureLast{
    margin-left: -30%;
}
  
}

/* ----------------------------------------- Small Tabs ------------------------------------------ */

@media (max-width: 768px) and (min-width: 720px){

  
.max-width{
  max-width: 1024px;
  padding: 0 40px;
  margin: auto;
}

section .title{
position: relative;
text-align: center;
color: #000000;
font-size: 40px;
font-weight: 500;
margin-top: 10%;
font-family: 'Ubuntu', sans-serif;
}

.fre{
display: flex;
color: #000000; /* Color of Name, and moving text in first page*/
background-size: cover;
background-attachment: fixed;
font-family: 'Ubuntu', sans-serif;
}

.fill1 {
  position: relative;
  margin-left: 25%;
  margin-top: 20%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  float: left;
}

.form1{
  position: relative;
  margin-left: 20%;
  margin-top: 30%;
  margin-bottom: 20%;
}

.figureLast{
  margin-left: 0%;
}

}

/* ----------------------------------------------- Large Phones ---------------------------------- */

@media (max-width: 720px) and (min-width: 420px){

  
.max-width{
    max-width: 715px;
    padding: 0 40px;
    margin: auto;
}
  
section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
}
  
.fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.fill1 {
    position: relative;
    margin-left: 35%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
}

.form1{
  position: relative;
  margin-left: 20%;
  margin-top: 30%;
  margin-bottom: 20%;
}

.figureLast{
    margin-left: 0%;
}

}

/* ------------------------------------- Small Phones ------------------------------------ */

@media (max-width: 420px){

  
.max-width{
    max-width: 460px;
    padding: 0 40px;
    margin: auto;
}
 
section .title{
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
}
  
.fre{
  display: flex;
  color: #000000; /* Color of Name, and moving text in first page*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.fill1 {
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    float: left;
}


  
.form1{
  position: relative;
  margin-left: 0%;
  margin-top: 30%;
  margin-bottom: 20%;
}

.figureLast{
    margin-left: 0%;
}
  
}

/* ----------------------------------------- Plot Button -----------------------------------------------------*/

.buttonTotal {
  display: block;
  margin-bottom: 40px;
  font-size: 100%;
  position: relative;
  padding: 10px 20px;
  background-color: #98CB3B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0%;
  margin-top: 10%;
}

.buttonTotal:hover {
  background-color: #2C9AD1;
  transform: scale(1.05);
}

/* ---------------------------------------------------- Tabs -------------------------------------------- */

.tab {
  overflow: hidden;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
/* .tab button.active {
  background-color: #ccc;
  border-style: solid;
  border-radius: 10px;
  border-color: #98CB3B;
  color: #176696;
} */

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* ------------------------------------------ Table ------------------------------------ */

table,td,tr {
        padding: 10%;
        border: 3px solid black;
        border-collapse: collapse;
}

th{
  border: 3px solid black;
  background-color: #AAA;
}

/* ------------------------------------------- Image ----------------------------------- */

.expandable-figure {
  max-width: 100%;
  cursor: pointer;
  margin-left: -5%;
  margin-top: 10%;
}

.expanded {
  max-width: none;
}


/* CSS for Columns Layout */
.columns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Adjust as needed */
}

.left-column {
  flex: 1;
  margin-right: 10px; /* Adjust spacing between columns */
  background-color: #f0f0f0; /* Grey background */
  border: 2px solid #98CB3B; /* Light green border */
  border-radius: 10px;
  padding: 20px;
}

.center-column {
  flex: 2; /* Twice the width of left/right columns */
  background-color: #ffffff; /* White background */
  border: 2px solid #000000; /* Black border */
  border-radius: 10px;
  padding: 20px;
}

.right-column {
  flex: 1;
  margin-left: 10px; /* Adjust spacing between columns */
  background-color: #f0f0f0; /* Grey background */
  border: 2px solid #98CB3B; /* Light green border */
  border-radius: 10px;
  padding: 20px;
}